<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>icm<span>Parlour</span></h2>
                    <p>ICM is a online ice cream parlour platform which provides you countless ice-cream varities and
                        flavours. Our parlour is 24*7 working and you can get your favourite one at any time with zero
                        shipping charges.
                    </p>
                    <h3>Start exploring now!!</h3>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">User Navigation </h2>
                    <ul>
                        <li><a href="/myprofile">My account</a></li>
                        <li><a href="/myorders">Order history</a></li>
                        <li><a href="/cart">Wishlist</a></li>
                        <li><a href="/checkout">Checkout</a></li>
                        <li><a href="/shop">Shop page</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categories</h2>
                    <ul>
                        <li><a href="/category">Companies</a></li>
                        <li><a href="/category">Different prices</a></li>
                        <li><a href="/category">Flavours</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Any queries!</h2>
                    <p>Send you query to us and our team will reach you within 24-48 hrs.</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="text" placeholder="Hey! Any problems?">
                            <br><br><br>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->

<!-- <div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com"
                            target="_blank">freshDesignweb.com</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div> End footer bottom area -->

<!-- Latest jQuery form server -->



<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="/enterjs/owl.carousel.min.js"></script>
<script src="/enterjs/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="/enterjs/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="/enterjs/main.js"></script>

<!-- Slider -->
<script type="text/javascript" src="/enterjs/bxslider.min.js"></script>
<script type="text/javascript" src="/enterjs/script.slider.js"></script>
</body>

</html>